importFrom("analogue", "analog", "cma", "dissim")
importFrom("grDevices", "rgb")
importFrom("graphics", "abline", "arrows", "axis", "layout", "legend", "lines", "mtext", "par", "plot", "points", "text", "title")
importFrom("plyr", "join")
importFrom("rioja", "WA")
importFrom("stats", "aggregate", "cor", "dchisq", "density", "lm", "predict", "sd")
importFrom("utils", "data", "head", "write.table", "packageVersion")
export(binfordActivity, binfordDates, binfordRho, cladCount, dipteranVWHO, interpDates, vrsChla, wiltseBrien, wiltseDecompose)
