importFrom("grDevices", "rgb")
importFrom("graphics", "abline", "arrows", "legend", "lines", "par", "plot", "points", "text", "title")
importFrom("stats", "cor", "dchisq", "lm", "predict", "sd")
importFrom("utils", "head", "write.table", "packageVersion")
export(binfordActivity, binfordDates, binfordRho, cladCount, dipteranVWHO, interpDates, vrsChla, wiltseBrien, wiltseDecompose)
