importFrom("analogue", "analog", "cma", "dissim")
importFrom("ggplot2", "aes", "geom_line", "geom_point", "geom_ribbon", "ggplot", "labs", "theme_bw", "theme_set", "ylab", "ylim", "xlab")
importFrom("gratia", "fderiv")
importFrom("grDevices", "rgb")
importFrom("graphics", "abline", "arrows", "axis", "layout", "legend", "lines", "mtext", "par", "plot", "points", "text", "title")
importFrom("mgcv", "gam", "gamm")
importFrom("nlme", "intervals")
importFrom("plyr", "join")
importFrom("rioja", "WA")
importFrom("stats", "aggregate", "confint", "cor", "dchisq", "density", "df.residual", "lm", "predict", "qt", "setNames", "sd", "simulate")
importFrom("utils", "data", "head", "packageVersion", "stack", "write.table")
export(binfordActivity, binfordDates, binfordRho, cladCount, dipteranVWHO, interpDates, quickGAM, vrsChla, wiltseBrien, wiltseDecompose)
